<!DOCTYPE html>
<html>
<head>
  <title>bestqa.org</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body_width">
  <div id="banner">
    <div id="logo">
      <a href="index.html">
	    <%= image_tag("logo.jpg") %>
      </a>
    </div>
    <div id="log_tail">
       <a>.org</a>
    </div>
    <div id="navigator">
      <div id="sign_in_up"> 
        <a href="http://www.bestqa.org/forum/wp-register.php" target="_blank">Sign Up</a> &nbsp;
        <a href="http://www.bestqa.org/forum/wp-login.php" target="_blank">Sign In</a> &nbsp;&nbsp;
      </div>
      <div style="font-size:20px;text-transform:uppercase">
        <a href="index.html" style="text-decoration:none;background:#F7F7F7;border-radius:5px 5px 5px;">Home</a> &nbsp;&nbsp;
        <a href="index.html" style="text-decoration:none;background:#F7F7F7;border-radius:5px 5px 5px;">Mission</a> &nbsp;&nbsp;
        <a href="index.html" style="text-decoration:none;background:#F7F7F7;border-radius:5px 5px 5px;">Articles</a> &nbsp;&nbsp;
        <a href="index.html" style="text-decoration:none;background:#F7F7F7;border-radius:5px 5px 5px;">Seminars</a> &nbsp;&nbsp;
        <a href="index.html" style="text-decoration:none;background:#F7F7F7;border-radius:5px 5px 5px;">Resources</a> &nbsp;&nbsp;
        <a href="http://www.bestqa.org/forum" style="text-decoration:none;color:white;background:#000000;border-radius:5px 5px 5px;" target='_blank' title="Goto WordPress Site">Forum</a> &nbsp; 
      </div>
    </div>
  </div>
  <div>
    <%= yield %>
  </div>
  <div id="footer">
    <a href="http://twitter.com/bestqaorg" style="text-decoration:none" target='_blank' title="@bestqaorg">
      <%= image_tag("twitter.png", :border => 0) %>
    </a> 
    <a href="http://q.weibo.com/291573" style="text-decoration:none" target='_blank' title="+新浪微群">
      <%= image_tag("weibo.png") %>
    </a> 
    <a href="https://plus.google.com/u/0/114905847024713781131/posts" style="text-decoration:none" target='_blank' title="G+">
      <%= image_tag("googleplus.png") %>
    <a href="http://www.linkedin.com/groups/bestqaorg-4177253" style="text-decoration:none" target='_blank' title="Join LinkedIn Group">
      <%= image_tag("linkedin.png") %>
    </a> 
  </div>
</body>
</html>
