<!DOCTYPE html>
<html>
<head>
  <title>bestqa.org</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body_width">
  <div id="banner">
    <div id="logo">
	  <%= image_tag("logo.jpg") %>
    </div>
    <div id="log_tail">.org</div>
    <div id="navigator">
      <div id="sign_in_up"> 
        <%= link_to "Sign Up", "http://www.bestqa.org/forum/wp-register.php", html_options = { :target => '_blank' } %> &nbsp;
        <%= link_to "Sign In", "http://www.bestqa.org/forum/wp-login.php",    html_options = { :target => '_blank' } %> &nbsp;&nbsp;
      </div>
      <div id="menu_bar">
        <%= link_to      "Home", "http://bestqa.org", :class => "menu_bar" %> &nbsp;&nbsp;
        <%= link_to   "Mission", "http://bestqa.org", :class => "menu_bar" %> &nbsp;&nbsp;
        <%= link_to  "Articles", "http://bestqa.org", :class => "menu_bar" %> &nbsp;&nbsp;
        <%= link_to  "Seminars", "http://bestqa.org", :class => "menu_bar" %> &nbsp;&nbsp;
        <%= link_to "Resources", resource_index_path, :class => "menu_bar" %> &nbsp;&nbsp;
        <%= link_to     "Forum", "http://www.bestqa.org/forum", html_options = { :class  => "menu_bar", 
                                                                                 :style  => "color:white; background: black",
                                                                                 :target => '_blank', 
                                                                                 :title  => 'Goto WordPress Site' 
                                                                               } %> &nbsp;
      </div>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to image_tag("twitter.png"),   "http://twitter.com/bestqaorg", html_option = { :style  => "text-decoration:none; background-color: white;", 
                                                                                            :target => '_blank', 
                                                                                            :title  => "@bestqaorg" 
                                                                                          } %>
    <%= link_to image_tag("weibo.png"),     "http://q.weibo.com/291573",    html_option = { :style  => "text-decoration:none; background-color: white;", 
                                                                                            :target => '_blank', 
                                                                                            :title  => "+新浪微群" 
                                                                                          } %>
    <%= link_to image_tag("googleplus.png"),"https://plus.google.com/u/0/114905847024713781131/posts",
                                                                            html_option = { :style  => "text-decoration:none; background-color: white;", 
                                                                                            :target => '_blank', 
                                                                                            :title  => "G+" 
                                                                                          } %>
    <%= link_to image_tag("linkedin.png"),  "http://www.linkedin.com/groups/bestqaorg-4177253",
                                                                            html_option = { :style  => "text-decoration:none; background-color: white;", 
                                                                                            :target => '_blank', 
                                                                                            :title  => "Join LinkedIn Group" 
                                                                                          } %>
  </div>
</body>
</html>
